@tailwind base;
@tailwind components;
@tailwind utilities;

.countdownBox {
  @apply w-[34px] h-[34px] p-2 bg-primary rounded-lg text-black text-lg font-semibold flex
  justify-center items-center;
}
.input {
  @apply w-full rounded-lg py-4 text-black pl-6 pr-10 outline-none 
  focus:ring-primary focus:outline-none focus:ring-2;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background-color: #13131a;
}

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4acd8d),
    to(#4acd8d),
    color-stop(0.6, #54de5d)
  );
  border-radius: 14px;
  border: 3px solid #4acd8d;
}

.canvas-head {
  color: var(--white-color);
  justify-content: space-between;
  padding: 1.5em;
  margin: -1.5em -1.5em 1.5em;
  background-color: #155636;
  width: 108.5%;
  border-bottom-right-radius: 160px 25px;
}

/* Reusable Components */
.container {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 0.09em; */
}

.clipper-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clipper-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.scrollbar-design::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-design::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrollbar-design::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4acd8d),
    to(#4acd8d),
    color-stop(0.6, #54de5d)
  );
}
