@tailwind base;
@tailwind components;
@tailwind utilities;

.inputClass {
  @apply px-3 py-8 border border-solid border-neutral-300 bg-transparent text-neutral-700 transition duration-200 ease-linear placeholder:text-transparent focus:border-UploadBlue focus:text-neutral-700 focus:outline-none peer-focus:text-UploadBlue dark:border-neutral-600 dark:text-neutral-200 dark:focus:border-UploadBlue dark:peer-focus:text-UploadBlue;
}

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #646464;
  border-radius: 14px;
}
